:root {
  --Cyan-Color: #00838c;
  --Dark-Cyan-Color: #09757a;
  --Darker-Cyan-Color: #08585c;
  --Light-Cyan-Color: #d8efef;
  --Black-Color: #111111;
  --Dark-Gray: #2b2b2b;
  --White-Color: #ffffff;
  --Light-gray: #f5f5f5;
  --Gray-Color: #e8eaeb;
  --Blue-Color: #007dc5;
  --purple-Color: #8c669e;
}

footer {
  background-color: var(--Black-Color);
  color: var(--White-Color);
}

.Upper__footer {
  padding: 0 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  padding: 50px 0;
}

.left__ftr,
.mid__ftr,
.right__ftr {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}

.expandable__footer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 150px;
}

.expandable__footer span {
  font-size: 12px;
  color: var(--Light-gray);
}

.footer__line img {
  display: none;
}

/*Lower Footer*/

.lower__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 100px;
  border-bottom: 2px solid var(--White-Color);
}

.logo__container__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.logo__footer svg {
  fill: var(--White-Color);
  width: 200px;
}

.footer__social__media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.bottom__footerOne,
.bottom__footerTwo {
  font-size: 14px;
  gap: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 10px;
}

.bottom__footerOne p,
.bottom__footerTwo p {
  margin: 0;
}

.Full_Width {
  width: 300px;
}

.small__footer__mobile {
  padding: 30px 0;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.Currency__footer__mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.footer__social__media__mobile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/*end of Lower Footer*/

@media screen and (max-width: 1200px) {
  footer {
    padding: 0 10px;
  }
  .Upper__footer {
    gap: 25px;
    align-items: normal;
  }

  .left__ftr,
  .mid__ftr,
  .right__ftr {
    gap: 25px;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .Upper__footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  }
}

@media screen and (max-width: 875px) {
  .lower__footer {
    padding: 5px 10px;
  }

  .small__footer__mobile {
    display: flex;
  }

  .Currency__footer,
  .footer__social__media {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .expandable__footer {
    display: none;
  }

  .left__ftr,
  .mid__ftr,
  .right__ftr {
    flex-direction: column;
    width: 100%;
  }

  .left__ftr div,
  .right__ftr div,
  .mid__ftr div {
    width: 100%;
  }

  .footer__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__line img {
    display: block;
  }
}

@media screen and (max-width: 435px) {
  .bottom__footerOne,
  .bottom__footerTwo {
    flex-direction: column-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
  }

  .Full_Width {
    width: auto;
  }
}
