@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --Cyan-Color: #00838c;
  --Dark-Cyan-Color: #09757a;
  --Light-Cyan-Color: #d8efef;
  --Black-Color: #111111;
  --Dark-Gray: #2b2b2b;
  --White-Color: #ffffff;
}

body {
  font-family: "Inter", "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/*Buttons*/

.BtnBlack {
  background-color: var(--Black-Color);
  color: var(--White-Color);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
}

.BtnBlack:hover {
  scale: 1.05;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  cursor: pointer;
}

/*End of Buttons*/

/*Arrow*/
.black__arrow {
  margin: 0;
  rotate: 180deg;
  display: none;
  justify-content: flex-end;
  align-items: center;
}

.corner {
  align-self: flex-start;
  justify-content: flex-start;
}
/**/

@media screen and (max-width: 1024px) {
  .black__arrow {
    display: flex;
  }
}
