:root {
  --Cyan-Color: #00838c;
  --Dark-Cyan-Color: #09757a;
  --Darker-Cyan-Color: #08585c;
  --Light-Cyan-Color: #d8efef;
  --Black-Color: #111111;
  --Dark-Gray: #2b2b2b;
  --White-Color: #ffffff;
  --Light-gray: #f5f5f5;
  --Gray-Color: #e8eaeb;
  --Blue-Color: #007dc5;
  --purple-Color: #8c669e;
}

main {
  padding: 20px 100px;
}

.section {
  margin: 100px 0;
}

/*Top main Search*/
.Search__TopMain {
  padding: 5px;
  background-color: var(--Light-gray);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.Search__TMLeft {
  width: 85%;
  display: flex;
  align-items: center;
  position: relative;
}

.Search__TopMain input[type="search"] {
  width: 100%;
  height: 85px;
  border-radius: 10px;
  font-size: 24px;
  padding-left: 20px;
  border: none;
  box-shadow: 0.25rem 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
}

.Search__TopMain input[type="search"]:focus {
  outline-color: var(--Blue-Color);
}

.Search__button {
  width: 180px;
  height: 70px;
  background-color: var(--Dark-Cyan-Color);
  color: var(--White-Color);
  border: none;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.Search__button:hover {
  background-color: var(--Darker-Cyan-Color);
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}

.Main__Search__icon {
  display: none;
}

.Search__TMRight {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  padding: 15px 20px;
  border-radius: 10px;
  max-width: 170px;
  width: 12%;
  height: 50px;
  border: 1px solid var(--Light-gray);
}

.price_topmain_search {
  font-weight: bold;
  font-size: 14px;
}

.Search__TMRight:hover {
  border-color: var(--Dark-Gray);
  background-color: var(--White-Color);
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  cursor: pointer;
}

.Search__TMRight:hover > div > .price_topmain_search {
  color: var(--Dark-Cyan-Color);
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}

.under_price_top_main {
  font-size: 10px;
}
/*end of Top main Search*/

/*Find AI Domain*/
.Find__AI__dom {
  margin-top: 25px;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.Find__AI__left {
  background: linear-gradient(90deg, #00000000, #000000),
    url(../Images/pexels-cottonbro-5082579.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70%;
  height: auto;
  aspect-ratio: 2/1;
  border-radius: 20px;
  color: white;
  fill: var(--White-Color);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

.notification {
  background-color: var(--Light-gray);
  color: var(--Black-Color);
  padding: 5px;
  font-size: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.Find__AI__left div {
  width: 150px;
}

.Find__AI__left h1 {
  font-size: 4em;
  width: 50%;
  margin: 15px 0;
}

.Find__AI__left p {
  width: 40%;
  margin: 0;
}

.Find__AI__right {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  background-color: var(--Black-Color);
  color: var(--White-Color);
  border-radius: 20px;
  height: auto;
  padding: 10px;
}

.Find__AI__right span {
  background-color: var(--purple-Color);
  padding: 5px 10px;
  border-radius: 10px;
}

.Find__AI__right h2 {
  font-size: 30px;
}

.Find__AI__right button {
  border: none;
  background-color: var(--White-Color);
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.Btn__right__AI {
  display: flex;
  align-items: center;
}

.Btn__right__AI span {
  background-color: var(--White-Color);
  transform: translate(10px);
}

.Btn__right__AI svg {
  fill: var(--Black-Color);
  width: 24px;
}

.Find__AI__right button:hover {
  scale: 1.05;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.Find__AI__right button:hover > .ArrowButton {
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transform: translateX(0);
  visibility: visible;
  display: block;
}

/*End of Find AI Domain*/

/*Learn about*/
.Learn__more h2 {
  font-size: 45px;
  text-align: center;
}

.Learn__more ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

.Learn__more ul li {
  padding: 10px 20px;
  border: 2px solid var(--Black-Color);
  border-radius: 50px;
}

.Learn__more ul li:first-child {
  background-color: var(--Black-Color);
  color: var(--White-Color);
}

.Learn__more ul li:hover {
  scale: 1.05;
  background-color: var(--Black-Color);
  color: var(--White-Color);
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  cursor: pointer;
}

.options__learn__more {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.Options__left img {
  width: 250px;
}

.Options__left {
  background-image: url(../Images/Recommended-Domains-Large.webp);
  width: 615px;
  height: 615px;
  aspect-ratio: 1/1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
}

.Options__left div {
  margin-bottom: 20px;
}

.Options__left div h3 {
  font-size: 25px;
}

.Options__left:hover,
.Right__down:hover,
.Right__up:hover {
  box-shadow: 0.25rem 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  cursor: pointer;
}

.Options__left {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.Options__right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Right__down,
.Right__up {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 600px;
  height: 300px;
  aspect-ratio: 2/1;
  padding: 20px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.Right__up {
  background-image: url(../Images/Recommended-Websites.webp);
}

.Right__down {
  background-image: url(../Images/Recommended-Email.webp);
}

.Right__down div,
.Right__up DIV {
  width: 50%;
}

/*end of learn about*/

/*GoDaddy__Airo*/

.GoDaddy__Airo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GoDaddy__Airo h2 {
  font-size: 45px;
  text-align: center;
}

.Airo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
}

.Airo__display {
  height: auto;
  width: 100%;
  aspect-ratio: 3/1;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.Airo__display img {
  width: 100%;
  border-radius: 20px;
}

.Airo__under__display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20px;
}

.cards__Airo {
  border-radius: 20px;
  padding: 20px;
}

.Mobile__Display__Airo {
  border-radius: 20px;
  padding: 10px 20px;
}

.Airo__under__display div:first-child {
  background-color: var(--Gray-Color);
}

.Airo__under__display div:hover {
  background-color: var(--Gray-Color);
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.Airo__under__display div h3 {
  font-size: 24px;
}

.Mobile__Display__Airo {
  display: none;
}
/*End of GoDaddy__Airo*/

/*web Builder*/

.GoDaddy__webBuilder {
  width: 100%;
  position: relative;
}

.GoDaddy__webBuilder h2 {
  font-size: 35px;
}

.webBuilder__Image,
.webBuilder__Image img {
  width: 100%;
  border-radius: 20px;
}

.webBuilder__Image {
  position: relative;
  background-image: url(../Images/Raheim-Thompson-D.webp);
  width: 100%;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 2/1;
}

.webBuilder__text {
  font-size: 12px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 600px;
  height: 680px;
  background-color: var(--White-Color);
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.webBuilder__text__bottom {
  width: 250px;
  height: 300px;
  aspect-ratio: 1/2;
}

.webBuilder__img__corner {
  position: absolute;
  max-width: 350px;
  bottom: 20px;
  right: 20px;
}

.Lines__Container {
  margin-top: 20px;
}

.line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin-bottom: 10px;
}

.Icon__Line {
  padding: 8px;
  border-radius: 10px;
  background-color: var(--Light-Cyan-Color);
}

.Icon__Line svg {
  fill: var(--Black-Color);
}
/*end of web Builder*/

@media screen and (max-width: 1200px) {
  main {
    padding: 10px 15px;
  }

  /* Query Top main Search*/

  .Search__TMRight {
    display: none;
  }

  .Search__TMLeft {
    width: 100%;
  }

  /*End query of top main search*/
}

@media screen and (max-width: 1024px) {
  .options__learn__more {
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
  }

  .Options__left {
    background-image: url(../Images/Recommended-Domains-Small.webp);
    aspect-ratio: 2/1;
    width: 80%;
    height: auto;
  }

  .Options__left div {
    width: 50%;
  }

  .Options__left div h3 {
    margin: 0;
  }

  .Options__right {
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .Right__down,
  .Right__up {
    background-color: var(--Gray-Color);
    background-image: none;
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
    padding: 10px;
  }

  .Right__down div p,
  .Right__up div p,
  .Right__down div button,
  .Right__up div button,
  .Options__left div p,
  .Options__left div button {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  /* Query Top main Search*/

  .Search__TopMain {
    padding: 2px;
  }

  .Search__TopMain input[type="search"] {
    height: 50px;
  }

  .Search__button__text {
    display: none;
  }

  .Search__button {
    right: 0;
    height: 100%;
    width: 50px;
    border-radius: 0 10px 10px 0;
  }

  .Main__Search__icon {
    display: block;
    fill: var(--White-Color);
  }
  /*End query of top main search*/

  /*Learn more*/
  .Learn__more ul li {
    font-size: 12px;
  }

  /*End of Learn more*/

  /*Ai Domain section*/
  .Find__AI__dom {
    flex-direction: column;
  }

  .Find__AI__left {
    width: 100%;
    box-sizing: border-box;
  }

  .Find__AI__right {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
  }

  /*end of ai domain section*/

  /*GoDaddy Airo*/

  .Airo__display {
    display: none;
  }

  .Airo__Wrapper,
  .Airo__under__display {
    white-space: nowrap;
    max-width: 1200px;
    width: 100%;
  }

  .Airo__Wrapper {
    position: relative;
  }

  .Airo__under__display {
    padding: 0 15px;
    overflow-x: auto;
  }

  .cards__Airo {
    padding: 0;
    background-color: var(--Gray-Color);
    width: 80%;
    flex-shrink: 0;
  }

  .Mobile__Display__Airo {
    display: block;
    padding: 0;
  }

  .Mobile__Display__Airo img {
    aspect-ratio: 1096/824;
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0 0;
  }

  .Airo__text {
    box-sizing: border-box;
    width: 100%;
    padding: 25px 20px;
    white-space: wrap;
  }

  /*End of GoDaddy Airo*/

  /*webBuilder*/

  .webBuilder__Image {
    background-image: url(../Images/Raheim-Thompson-M.webp);
    aspect-ratio: 1/1;
    height: auto;
    border-radius: 20px 20px 0 0;
  }

  .webBuilder__text {
    position: relative;
    width: 100%;
    height: 550px;
    box-sizing: border-box;
    border-radius: 0;
    inset: 0;
    padding: 20px 10px;
  }

  /*end of WebBuilder*/
}

@media screen and (max-width: 767px) {
  /*Ai domain*/

  .Find__AI__left {
    background: linear-gradient(0deg, #00000000, #000000),
      url(../Images/pexels-cottonbro-5082579.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    height: 600px;
  }

  .Find__AI__left h1 {
    font-size: 24px;
    width: 70%;
  }

  .Find__AI__left p {
    width: 70%;
    font-size: 14px;
  }

  .Btn__learn__More span {
    transform: translateX(10px);
  }

  .Find__AI__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .Find__AI__right div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
  }

  .Find__AI__right button {
    background-color: var(--Black-Color);
    border: none;
  }

  .Btn__right__AI span {
    display: none;
  }

  .Btn__right__AI svg {
    width: 36px;
    visibility: visible;
    transform: translateX(0);
    fill: var(--White-Color);
  }
  /*end of ai domain*/

  /*Learn More*/

  .scroll-container {
    overflow-x: auto;
    height: 65px;
    white-space: nowrap;
  }

  .Learn__more ul {
    display: inline-flex;
  }

  .Learn__more ul li {
    flex-shrink: 0;
  }
  /*End fo learn more*/

  /*Options*/

  .Options__left,
  .Options__right {
    width: 100%;
  }

  .Options__left div {
    margin: 0;
  }

  .Options__left div h3 {
    margin: 0;
  }

  .Right__down h3,
  .Right__up h3 {
    font-size: 18px;
  }

  /*end of Options*/

  /*webBuilder*/

  .webBuilder__img__corner {
    display: none;
  }
  /*end of webBuilder*/
}
